<h1>welcome to
    <i class="fa-solid fa-book"></i>
    <strong>
        Bookers!!
    </strong>
</h1>
<h4>In<i class="fa-solid fa-book"></i>Books,</h4>

<p>you can share and exchange your opinions,inpressions,</p>
<p>and emotions</p>
<p>about various books!</p>

<%= link_to "Log in", new_user_session_path %>